<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @carousel.image %>
</p>

<p>
  <strong>Ulr:</strong>
  <%= @carousel.ulr %>
</p>

<%= link_to 'Edit', edit_carousel_path(@carousel) %> |
<%= link_to 'Back', carousels_path %>
