<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <img src="<%= @carousel.image %>" style="max-width: 100px;" />
</p>

<p>
  <strong>Ulr:</strong>
  <%= @carousel.ulr %>
</p>

<%= link_to (t 'Edit'), edit_carousel_path(@carousel) %> |
<%= link_to (t 'Back'), carousels_path %>
