<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @deal.title %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @deal.mid %>
</p>

<p>
  <strong>Money:</strong>
  <%= @deal.money %>
</p>

<p>
  <strong>Beans:</strong>
  <%= @deal.beans %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deal.status %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
